:root{
--dark: #1d1d1d;
--dgray: #3a3a3a;
--gray: #6d6d6d;
--ntext: #c9c9c9;

}

 body {
    font-family: "Oswald",'Playfair Display', 'Lora', Arial;
    font-style: italic;
    margin: 0;
  }
  
  header {
    padding: 40px;
    font-size:30px ;
    text-align: center;
    background: var(--dgray);
    color:var(--ntext);
  }
 
  main {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    grid-auto-rows: auto;

    
  }
  
  aside {
    grid-area: 1/1/6/2;
    background-color: var(--dgray);
    justify-content:center;
    
  }

  aside a {
    background-color: var(--gray);
    color: var(--ntext);
    font-size: 30px;
    padding: 10px;
    margin: 20px;
  }
  content{
    grid-area: 1/2/6/6;
  }
  .Projects {
    background-color: var(--gray);
    padding: 20px;
    justify-content: center;
  }
  
  .About { 
    background-color: var(--gray);
    padding: 20px;
    justify-content: center;
  }
 
  .History {
    background-color: var(--gray);
    padding: 20px; 
    justify-content: center;
  }

  .home {
    background-color: var(--gray);
    padding: 20px;
    justify-content: center;
  }

  .card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 6px;
    flex: 0 0 400px;
  }
  
  .card header {
    padding: 10px;
    border-radius: 10px;
  }
  
  .card p {
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
 aside a:hover {
  background-color: var(--dgray);
 }

 aside a:focus {
  background-color: var(--dark);
  border-color: var(--gray);
  border-style: solid;
  box-shadow: 2px 2px;
 }
 

  @media screen and (max-width: 900px) {

  }
